<h2>Liste des utilisateurs</h2>
<div *ngFor="let user of users; trackBy: trackByFunction">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Team: {{ user.team }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Nom: {{ user.firstName }}</p>
      <p>Prenom: {{ user.lastName }}</p>
      <p>Email: {{ user.email }}</p>
    </mat-card-content>

    <mat-card-footer>
      <p>Skills:</p>
      <ul *ngFor="let skill of user.skills; let i = index; trackBy: trackByFunction">
        <li>Skill {{ i }} : {{ skill }}</li>
      </ul>
    </mat-card-footer>
  </mat-card>
</div>
